<html lang="en">

<head>
    <title> 头部观察研究系统 v1.0 </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    
    
    <!-- 顶部控制栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a href="/" class="navbar-brand"> Hello </a>
        
        
    </nav>
    <!-- 顶部控制栏 END -->

    <!-- 主框架 -->

    <div class="container-fluid">
        <div class="row">
            <!-- 左边控制栏 -->
            <nav id="leftSideBar" class="col-md-3 col-lg-2 d-md-block bg-light collapse sidebar">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav nav-pills nav-fill flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home"> 主页 </a>
                        </li>
                        <li class="nav-item dropright">
                            <a class="nav-link" href="/readNews/1"> 新闻 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/governmentTracker"> 部门追踪器 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/companyTracker"> 公司追踪器 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/industryTracker" aria-disabled='true'> 行业追踪器 </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- 左边控制栏 END -->

            
