<%- include('partials/header') -%>

<div id='main' class="col-md-9 col-lg-10 d-md-block" style="padding-left: 1.5rem; padding-right: 1.5rem;">
    <div class="row">
        <h1>页面设计中...</h1>
    </div>

    </div>




</div>


<%- include('partials/footer') -%>