<%- include('partials/header') -%>

<div id='main' class="col-md-9 col-lg-10 d-md-block" style="padding-left: 1.5rem; padding-right: 1.5rem;">
    <div class="row">
        <h1>话题分区</h1>
    </div>

    <% for(var i = 0; i < data.length; i += 3){ %>
        <div class="row">
            <% for(var j = 0; j < 3; j ++){ %>
                <% try{ %><div class="col-4"> <a href="/industryTracker/<%= data[i+j].topic_id %>"><%= data[i + j].tag_name %></a></div><% }catch(err){}%>
            <% } %>
    
        </div>
    <% } %>



</div>


<%- include('partials/footer') -%>