<%- include('partials/header') -%>

<div id='main' class="col-md-9 col-lg-10 d-md-block" style="padding-left: 1.5rem; padding-right: 1.5rem;">
    <div class="row">
        标签管理系统
    </div>

    <div class="row">
        <div class="col">
            <a href="/tms/department" target="_blank"><span>部门</span></a>
        </div>
        <div class="col">
            <a href="/tms/company" target="_blank"><span>公司</span></a>
        </div>
        <div class="col">
            <a href="/tms/person" target="_blank"><span>人物</span></a>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <a href="/tms/industry" target="_blank"><span>行业</span></a>
        </div>
        <div class="col">
            <a href="/tms/products" target="_blank"><span>产品</span></a>
        </div>
        <div class="col">
            <a href="/tms/topic" target="_blank"><span>领域</span></a>
        </div>
    </div>

</div>

<%- include('partials/footer') -%>